<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Cases" verbose="1">
    <listeners>
        <listener class-name="Report.Listener"/>
    </listeners>
    <test name="Verify user is in to Homepage">
        <parameter name="testRunId1" value="TCTC-1"/>
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.HomePageTest"/>
        </classes>
    </test>
</suite>